input[type="text"],input[type="email"],input[type="password"],input[type="tel"],input[type="number"]{
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 12px;
    font-weight: 400;
    box-sizing: border-box;
    transition: 0.3s;
    margin-left:12px;
  }
  input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus ,input[type="tel"]:focus,input[type="number"]:focus{
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
  }
  
.inputWithIcon {
  position: relative;
  padding-right: 16px;
}

.inputWithIcon input[type="text"],.inputWithIcon input[type="email"],.inputWithIcon input[type="password"],.inputWithIcon input[type="tel"] {
  padding-left: 35px;
}

.inputWithIcon svg{
  position: absolute;
  left: 12px;
  top: 12px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}

.inputWithIcon input[type="text"]:focus + svg {
  color: dodgerBlue;
}

.inputWithIcon.inputIconBg svg{
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type="text"]:focus + svg {
  color: #fff;
  background-color: dodgerBlue;
}
input[type="radio"]{
  display: grid;
  place-content: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgb(255, 255, 255);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 22px;
  height: 22px;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
}
input[type="radio"]::before{
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  background-color:rgb(238, 255, 0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}
input[type="radio"]:checked::before{
  transform: scale(1);
}